<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Simple GAE Project by GHajba</title>
  </head>
  <body>
    <h1>Welmoe to this all-in-one GAE project</h1>
    <div>This is a simple web application on the GAE created in Python</div>
    <hr />
    {% if not weather_description %}
        Hello World in Chinese is: 你好世界
        <hr/>
      {% else %}
      <div>
       {% if weather_picture %}
       <img src="{{ weather_picture }}" /> 
       {% endif %}
       {{ weather_description }}
      </div>
      {% endif %}
    <form action="/weather" method="get">
      <div>Look up the weather of a US-City by its ZIP-Code:</div>
      <div><input name="zip" type="number" size="10" min="10000" max="99999" required></div>
      <div><input type="submit" value="Ask for the weather"></div>
    </form>
    <hr />
  </body>
</html>

{% endautoescape %}